@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

$header-font: 'Montserrat', sans-serif;
$body-font: 'Lato', sans-serif;
$line: 1px solid #EBEBEB; 


/* Global */
body {
	font-family: $body-font;
	font-size: 14px;
}

h1, h4, h2 {
	font-family: $header-font;
	text-transform:uppercase;
}

h2 {
	font-size:16px;
}

.bold {
	font-family: $header-font
}

.btns {
	background:none;
	border:none;
	font-family: $header-font;
	font-size:16px;
	text-transform:uppercase;
	padding:14px 
}

.logged_in {
	background:none;
	border:none;
	font-family: $header-font;
	font-size:16px;
	text-transform:uppercase;
}


.btns:hover {
	 background:#008C46;
	 color:#FFFFFF;
}

.btn-default {
	border: $line
}

#btn-fake {
	color: #337ab7;
	//text-decoration: underline;
	cursor: pointer;
}

/* Navigation */
.navbar {
	border-radius:0;
	border-bottom:$line;

	.nav li a{
		font-family: $header-font;
		text-transform:uppercase;
		font-size:16px;
		color:#000000;
	}

	.navbar-header {
		border-right:$line;
	}
}

/* Pop up */
.modal-body {
	text-align:center;

	.sign-up, #login {
		table {
			width:70%;
			margin-left:auto;
			margin-right:auto;
		}

		table tr td {
			padding-top:10px;

			input[type=text], input[type="password"], input[type=email] {
				padding:10px;
				width:100%;
			}

			input[type="submit"] {
				padding:20px 30px;
				width:100%;
				background-color:#008C46;
				display:inline-block;
				font-family: $header-font;
				color:#FFFFFF;
				text-transform:uppercase;
				border:none;
			}

			input[type="submit"]:hover {
				background-color:#05d66d;
			}
		}
	}
	.or {
		margin-top:20px;
		padding-bottom:10px;
		font-size:16px;
	}

	.fb-button {
		#sign_in {
			padding:20px 30px;
			width:70%;
			background-color:#3B5998;
			display:inline-block;
			font-family: $header-font;
			color:#FFFFFF;
			text-transform:uppercase;
		}

		#sign_in:hover {
			text-decoration:none;
			background-color:#4568b2;
		}
	}
}

//Profile Picture
.profile-pic {

	img {
		max-width:150px;
		border:$line
	}
}

.img-circle {
    border-radius: 50%;
}

.profile-info {
	font-size:16px;

	table {
		width:50%;

		tr {
			border-top:$line;
			border-bottom:$line;

			td {
				padding-top:15px;
				padding-bottom:15px;
			}
		}

		tr:first-child {
			border-top:none;
		}

		tr:last-child {
			border-bottom:none;
		}
	}
}
	